@import 'highlight.js/scss/atom-one-dark.scss';

// 下载 makdown CSS 主题样式: https://theme.typora.io/
@import './typoraLark.scss';
// @import './typoraLarkBoldColor.scss';

& {
  max-width: fit-content;
  margin: auto;
}

.hljs {
  display: block;
  word-break: break-all;
  white-space: break-spaces;
}

p {
  line-height: 1.5;
}

li {
  line-height: 1.5;
}
