@font-face {
  font-family: "iconfont"; /* Project id 2682471 */
  src: url('iconfont.woff2?t=1643380129334') format('woff2'),
       url('iconfont.woff?t=1643380129334') format('woff'),
       url('iconfont.ttf?t=1643380129334') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angleright:before {
  content: "\e9bf";
}

.icon-angle-left:before {
  content: "\e602";
}

.icon-folder:before {
  content: "\e672";
}

.icon-folderopen:before {
  content: "\e6f9";
}

.icon-calendar-plus:before {
  content: "\f27e";
}

.icon-calendar-minus:before {
  content: "\e812";
}

.icon-comment:before {
  content: "\e671";
}

.icon-rili:before {
  content: "\e63f";
}

.icon-file:before {
  content: "\e8fa";
}

.icon-search:before {
  content: "\e82e";
}

.icon-location:before {
  content: "\e640";
}

.icon-github:before {
  content: "\e657";
}

.icon-tag:before {
  content: "\ec33";
}

.icon-baseline-menu-px:before {
  content: "\e615";
}

.icon-resume:before {
  content: "\e655";
}

.icon-cup-fill:before {
  content: "\e7e9";
}

.icon-friends:before {
  content: "\e656";
}

.icon-Category:before {
  content: "\e639";
}

.icon-home:before {
  content: "\e64a";
}

